endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=database;port=3307;charset=utf8mb4"
set mysql_transaction_isolation_level 2
set mysql_slow_query_warning 100

start vrp

start cfx-energy-proxies
start [maps]
start [vehicles]
start [clothes]
start [system]
start [phone]
start [scripts]
start [weapons]

ensure cfx-gabz-mapdata         #*THIS RESOURCE IS REQUIRED FOR ALL RESOURCES TO WORK. IT MUST BE STARTED FIRST*
ensure cfx-gabz-scenarios       #*THIS RESOURCE IS OPTIONAL, IT REMOVES CONFLICTING PEDS SPAWNS*
ensure cfx-gabz-pdprops         #*THIS RESOURCE IS REQUIRED IF YOU USE ANY PD. IT MUST BE START BEFORE PD'S*
ensure cfx-gabz-247             #*THIS RESOURCE IS MANDATORY IF YOU USE [CFX-GABZ-OTTOS]*
ensure cfx-gabz-altruists
ensure cfx-gabz-ammunation
ensure cfx-gabz-arcade
ensure cfx-gabz-aztecas
ensure cfx-gabz-ballas
ensure cfx-gabz-barber
ensure cfx-gabz-beanmachine
#ensure cfx-gabz-bennys         #*READ BELOW*!
ensure cfx-gabz-binco
ensure cfx-gabz-bobcat
# ensure cfx-gabz-bowling
ensure cfx-gabz-carmeet
ensure cfx-gabz-casino
ensure cfx-gabz-catcafe
ensure cfx-gabz-davispd         #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
ensure cfx-gabz-diner
# ensure cfx-gabz-esbltd
ensure cfx-gabz-families
# ensure cfx-gabz-firedept
ensure cfx-gabz-fleeca
# ensure cfx-gabz-harmony
# ensure cfx-gabz-haters
# ensure cfx-gabz-hayes
#ensure cfx-gabz-hub            #*READ BELOW*!
# ensure cfx-gabz-import
#ensure cfx-gabz-impound        #*READ BELOW*!
# ensure cfx-gabz-lamesapd        #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
# ensure cfx-gabz-lost
ensure cfx-gabz-lostsc
# ensure cfx-gabz-lscustoms
ensure cfx-gabz-marabunta
# ensure cfx-gabz-mirrorpark1
# ensure cfx-gabz-mirrorpark2
ensure cfx-gabz-mrpd
ensure cfx-gabz-ottos
ensure cfx-gabz-pacificbank     #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
ensure cfx-gabz-paletobank
ensure cfx-gabz-paletoliquor
ensure cfx-gabz-paletopd        #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
# ensure cfx-gabz-parkranger
ensure cfx-gabz-pdm            #*READ BELOW*!
# ensure cfx-gabz-pillbox
# ensure cfx-gabz-pinkcage
ensure cfx-gabz-pizzeria        #*THIS RESOURCE IS MANDATORY IF YOU USE [CFX-GABZ-OTTOS]*
ensure cfx-gabz-ponsonbys
ensure cfx-gabz-prison
# ensure cfx-gabz-records
# ensure cfx-gabz-sandypd         #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
ensure cfx-gabz-studio
ensure cfx-gabz-suburban
ensure cfx-gabz-tattoo
ensure cfx-gabz-townhall        #*THIS RESOURCE REQUIRES [CFX-GABZ-PDPROPS] TO WORK PROPERLY*
ensure cfx-gabz-triads
# ensure cfx-gabz-tuners
ensure cfx-gabz-vagos
ensure cfx-gabz-vbmarket
ensure cfx-gabz-vu
ensure cfx-gabz-yachts

sv_scriptHookAllowed 0

#rcon_password

sets tags "energy"
sets Discord "discord.gg/8Z64czXtq6"

sets locale "pt-BR"

load_server_icon server.png

sv_master1 ""

# sets sv_pureLevel 1

sets banner_detail "https://i.imgur.com/DuXLkLu.png"
sets banner_connecting ""

add_ace group.admin command allow
add_ace group.admin command.quit deny

sv_endpointprivacy true

set sv_enforceGameBuild 2699
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_distanceCullVehicles true

setr voice_syncData 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

sv_hostname "Energy"
sets sv_projectName "Energy"
sets sv_projectDesc "Energy"

sv_maxclients 8

set steam_webApiKey ""

sv_licenseKey cfxk_ZcFItbQRK6mOg3iJMhPo_4IZm75