endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "mysql://SEULOGIN:SUASENHA@localhost:3306/SUADB"

start vrp
start [system]
start [weapons]
start [scripts]
start [smartphone]

# MODS
start [maps]

# MAPAS
start cfx-summerz

sv_endpointprivacy true
sv_scriptHookAllowed 0
sv_authMaxVariance 1
sv_authMinTrust 5

#rcon_password

sets tags "roleplay,brasil,rp"
sets locale "pt-BR"

load_server_icon server.png

sv_master1 ""

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:11000010c6d36de group.admin

set onesync on
set onesync_population true
set sv_enforceGameBuild 3751
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_distanceCullVehicles true

setr profile_skfx 0
setr voice_syncData 1
setr sv_requestParanoia 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

sv_hostname "Creative Network"
sets sv_projectName "Creative Network"
sets sv_projectDesc "Desenvolva sua historia, troque seu tiro e divirta-se"

sets Grupo "Creative Network"
sets Desenvolvedor "Vitor Oliveira"
sets Discord "https://creativenetwork.dev.br/"

sets banner_detail ""
sets banner_connecting ""

sv_maxClients 48

set steam_webApiKey "SUAWEBAPI"

sv_licenseKey SUAKEY

# WEBHOOKLOGS
setr Discord_MDT ""
setr Discord_PAINEL ""
setr Discord_FREECAM ""