endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=bigcity;port=3306;charset=utf8mb4"
set mysql_transaction_isolation_level 2
set mysql_slow_query_warning 100

start vrp

start [maps]
start [system]
start [hydrus]
start [scripts]
start [weapons]
start [cfx-rojo]
start [cfx-bigcity]
start [cfx-critical]

start cfx-gabz-mapdata
start cfx-gabz-pdprops
start cfx-gabz-247
start cfx-gabz-altruists
start cfx-gabz-ammunation
start cfx-gabz-arcade
start cfx-gabz-aztecas
start cfx-gabz-ballas
start cfx-gabz-barber
start cfx-gabz-beanmachine
# start cfx-gabz-bennys
start cfx-gabz-binco
start cfx-gabz-bobcat
start cfx-gabz-bowling
start cfx-gabz-carmeet
start cfx-gabz-casino
start cfx-gabz-catcafe
start cfx-gabz-davispd
start cfx-gabz-diner
start cfx-gabz-esbltd
start cfx-gabz-families
start cfx-gabz-firedept
start cfx-gabz-fleeca
start cfx-gabz-harmony
start cfx-gabz-haters
# start cfx-gabz-hayes
start cfx-gabz-hub
# start cfx-gabz-import
# start cfx-gabz-impound
# start cfx-gabz-lamesapd
start cfx-gabz-lost
start cfx-gabz-lostsc
start cfx-gabz-lscustoms
start cfx-gabz-marabunta
# start cfx-gabz-mirrorpark1
# start cfx-gabz-mirrorpark2
start cfx-gabz-mrpd
start cfx-gabz-ottos
start cfx-gabz-pacificbank
start cfx-gabz-paletobank
start cfx-gabz-paletoliquor
# start cfx-gabz-paletopd
# start cfx-gabz-parkranger
# start cfx-gabz-pdm
start cfx-gabz-pillbox
# start cfx-gabz-pinkcage
start cfx-gabz-pizzeria
start cfx-gabz-ponsonbys
start cfx-gabz-prison
start cfx-gabz-records
start cfx-gabz-sandypd
start cfx-gabz-studio
start cfx-gabz-suburban
start cfx-gabz-tattoo
start cfx-gabz-townhall
start cfx-gabz-triads
# start cfx-gabz-tuners
start cfx-gabz-vagos
start cfx-gabz-vbmarket
start cfx-gabz-vu
# start cfx-gabz-yachts

sv_scriptHookAllowed 0

#rcon_password

sets tags "default"

sets locale "pt-BR"

load_server_icon server.png

#sv_master1 ""

sets banner_detail "https://imgur.com/58lWfmw.gif"
sets banner_connecting "https://imgur.com/GE6zIW5.gif"

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.license:5dbd989eefd77abac62185f9c62640c3efc18094 group.admin

sv_endpointprivacy true

set sv_enforceGameBuild 2699
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_distanceCullVehicles true

setr voice_syncData 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

sv_hostname "BiG City"
sets sv_projectName "BiG City"
sets sv_projectDesc "BiG City"
sets Discord "https://discord.gg/bigcityroleplay"

sv_maxclients 128

set steam_webApiKey "AA90A1A5F120030E6AF0CBA071073263"

sv_licenseKey cfxk_1RYGYNCBikcwt5HYHdyG3_2z3mSF