body,td,th { font-size: 12px; font-family: "Roboto"; color: #ccc; cursor: default; vertical-align: baseline; outline: 0; line-height: 1; margin: 0; padding: 0; word-wrap: break-word; }
a,a:link,a:visited,a:active,a:hover { font-family: "Roboto"; font-size: 12px; color: #ccc; text-decoration: none; }
div,span,applet,object,iframe,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr { border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; margin:0; padding:0; }
:focus { outline:0; }
img { border:none; }
::-webkit-scrollbar { width: 0; }
::selection { background: transparent; color: #00e076 }
::-moz-selection { background: transparent; color: #00e076 }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
::placeholder{ color: #898989 }
/* ---------------------------------------------------------------------------------------------------------------- */
#mainPage {
	top: 50%;
	left: 50%;
	width: 1200px;
	height: 700px;
	display: none;
	overflow: auto;
	position: absolute;
	border: 5px solid #000;
	border-radius: 5px;
	transform: translate(-50%,-50%);
	background: #000 url("images/background.png") no-repeat;
}
/* ---------------------------------------------------------------------------------------------------------------- */
#header {
	float: left;
	width: 1170px;
	height: 81px;
	padding: 45px 30px 0 0;
}
/* ---------------------------------------------------------------------------------------------------------------- */
#mainMenu {
	float: left;
	width: 1140px;
	padding: 0 30px;
	background: #000;
}

#mainMenu li {
	float: left;
	color: #898989;
	font-weight: 700;
	margin-right: 3px;
	padding: 21px 20px;
	list-style-type: none;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-shadow: 1px 1px #000;
}

#mainMenu li:hover {
	color: #ccc;
	padding: 21px 20px;
	background: #00592f;
	text-shadow: 1px 1px #000;
}

#mainMenu li.active {
	color: #ccc;
	margin-top: -5px;
	background: #00592f;
	padding: 24px 20px 23px;
	text-shadow: 1px 1px #000;
}
/* ---------------------------------------------------------------------------------------------------------------- */
#content {
	float: left;
	width: 1140px;
	height: 414px;
	overflow: auto;
	margin: 76px 30px 30px 30px;
}

#titleContent {
	float: left;
	width: 1125px;
	color: #ccc;
	font-size: 20px;
	font-weight: 700;
	margin-top: -46px;
	letter-spacing: 1px;
	margin-bottom: 15px;
	padding: 5px 0 10px 15px;
	text-transform: uppercase;
	position: absolute !important;
	border-bottom: 1px dotted #000;
	text-shadow: 1px 1px #000;
}
/* ---------------------------------------------------------------------------------------------------------------- */
#pageLeft {
	float: left;
	min-width: 695px;
	max-width: 695px;
	max-height: 414px;
	overflow-y: scroll;
	text-shadow: 1px 1px #000;
}

#pageRight {
	float: left;
	min-width: 424px;
	max-width: 424px;
	margin-left: 10px;
	padding-left: 10px;
	line-height: 20px;
	min-height: 414px;
	max-height: 414px;
	border-left: 1px dotted #000;
	text-shadow: 1px 1px #000;
}

#pageRight h2 {
	color: #ccc;
	padding: 0;
	margin: 5px 0 10px;
}
/* ----- SEARCH ---------------------------------------------------------------------------------------------------- */
.inputSearch {
	border: 0;
	color: #ccc;
	float: right;
	width: 150px;
	padding: 10px;
	margin-right: 10px;
	border-radius: 5px;
	background: rgba(15,15,15,0.75);
	text-shadow: 1px 1px #000;
}

.buttonSearch {
	border: 0;
	float: right;
	color: #ccc;
	padding: 10px 15px;
	border-radius: 5px;
	background: #00592f;
	text-shadow: 1px 1px #000;
}

.buttonSearch:hover {
	background: #009c52;
	transition: all 0.9s;
}
/* ----- SEARCHPAGE ------------------------------------------------------------------------------------------------ */
#pageLeftSearch {
	float: left;
	min-width: 695px;
	max-width: 695px;
	max-height: 414px;
	overflow-y: scroll;
}

.fineSeachTitle {
	float: left;
	min-width: 655px;
	max-width: 655px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-radius: 5px;
}

.searchBox {
	float: left;
	width: 655px;
	padding: 20px;
	font-size: 13px;
	color: #898989;
	line-height: 22px;
	border-radius: 5px;
	background: rgba(15,15,15,0.95);
	border: 1px solid #898989;
}

.searchBox b,.recordBox b {
	color: #ccc;
}

.searchBox update {
	color: #00e076;
	font-size: 10px;
	background: #00592f;
	padding: 2px 7px 3px;
}

.recordBox {
	float: left;
	width: 655px;
	padding: 20px;
	font-size: 13px;
	margin-top: 10px;
	line-height: 22px;
	color: #898989;
	border-radius: 5px;
	background: rgba(15,15,15,0.75);
	border: 1px solid #898989;
}

.recordBox:hover {
	transition: all 0.9s;
	background: rgba(15,15,15,0.95);
}

.logsBox {
	float: left;
	width: 655px;
	font-size: 13px;
	line-height: 22px;
	padding: 10px 20px;
	margin-bottom: 10px;
	background: #fff;
}

.logsBox:last-child {
	margin-bottom: 0px;
}
/* ----- PRISON ---------------------------------------------------------------------------------------------------- */
.inputPrison {
	color: #ccc;
	float: left;
	width: 225px;
	padding: 15px;
	margin-right: 10px;
	border-radius: 5px;
	border: 1px solid #898989;
	background: rgba(15,15,15,0.95);
}

.inputPrison2 {
	color: #ccc;
	float: left;
	width: 225px;
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #898989;
	background: rgba(15,15,15,0.95);
}

.textareaPrison {
	color: #ccc;
	float: left;
	width: 695px;
	resize: none;
	height: 200px;
	padding: 15px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #898989;
	background: rgba(15,15,15,0.95);
}

.buttonPrison {
	float: right;
	color: #ccc;
	margin-top: 10px;
	padding: 10px 15px;
	border-radius: 5px;
	background: #00592f;
	border: 1px solid #898989;
	text-shadow: 1px 1px #000;
}

.buttonPrison:hover {
	background: #009c52;
	transition: all 0.9s;
}
/* ----- FINE ---------------------------------------------------------------------------------------------------- */
.inputFine {
	color: #ccc;
	float: left;
	width: 342px;
	padding: 15px;
	margin-right: 10px;
	border-radius: 5px;
	border: 1px solid #898989;
	background: rgba(15,15,15,0.95);
}

.inputFine2 {
	color: #ccc;
	float: left;
	width: 343px;
	padding: 15px;
	border-radius: 5px;
	border: 1px solid #898989;
	background: rgba(15,15,15,0.95);
}

.textareaFine {
	color: #ccc;
	float: left;
	width: 695px;
	resize: none;
	height: 200px;
	padding: 15px;
	margin-top: 10px;
	border-radius: 5px;
	border: 1px solid #898989;
	background: rgba(15,15,15,0.95);
}

.buttonFine {
	float: right;
	color: #ccc;
	margin-top: 10px;
	padding: 10px 15px;
	background: #00592f;
	border-radius: 5px;
	border: 1px solid #898989;
	text-shadow: 1px 1px #000;
}

.buttonFine:hover {
	background: #009c52;
	transition: all 0.9s;
}

s, b {
	color: #009c52;
	font-weight: 700;
	text-decoration: none;
}