html,body {
	margin: 0;
	padding: 0;
	color: #fff;
	cursor: default;
	font-size: 13px;
	overflow: hidden;
	font-family: "Roboto";
	box-sizing: border-box;
	background: transparent;
}

:focus { outline: 0; }
u { text-decoration: none; }
::-webkit-scrollbar { width: 0; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: transparent; }
::-webkit-scrollbar-thumb:hover { background: transparent; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#Survival {
	left: 50px;
	bottom: 50px;
	display: none;
	position: absolute;
	text-shadow: 1px 1px #000;
}