html,body {
	margin: 0;
	padding: 0;
	color: #fff;
	cursor: default;
	overflow: hidden;
	font-family: "Roboto";
	box-sizing: border-box;
	background: transparent;
}

:focus { outline: 0; }
u { text-decoration: none; }
::-webkit-scrollbar { width: 0; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: transparent; }
::-webkit-scrollbar-thumb:hover { background: transparent; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#SurvivalDiv {
	width: 100%;
	bottom: 3vw;
	display: none;
	position: fixed;
}

#Survival {
	width: 300px;
	margin: 0 auto;
	font-size: 13px;
	line-height: 20px;
	padding: 15px 20px;
	text-align: center;
	text-shadow: 1px 1px #000;
	color: rgba(255,255,255,0.75);
	background: rgba(15,15,15,.75);
	border-radius: 5px;
}

#Survival color {
	color: #00e076;
}
#Survival color2 {
	color: #009C52;
}