html,body {
  margin: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 2vw 5.6vw 0 5.6vw;
  overflow: hidden;
  background-color: transparent;
  justify-content: space-between;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  outline: none;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/*
=============================
  SECTION CONTENT
=============================
*/

section {
  display: flex;
  flex-direction: column;
}

section .sectionTitle {
  position: relative;
  color: #fff;
  margin-bottom: 0.3vw;
  text-transform: uppercase;
}

section .sectionTitle #subtitle {
  opacity: .5;
  font-size: 0.7vw;
  letter-spacing: 0.08vw;
}

section .sectionTitle .sectionCategorys {
  position: absolute;
  left: -3.5vw;
  top: 0.5vw;
  display: flex;
  flex-direction: column;
}

section .sectionTitle .sectionCategorys .option {
  position: relative;
  opacity: .5;
  width: 2vw;
  height: 2vw;
  display: flex;
  align-items: center;
  margin-bottom: 0.4vw;
  border-radius: 100%;
  transition: all .2s;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  border: 0.08vw solid rgba(255, 255, 255, 0.2);
}

section .sectionTitle .sectionCategorys .option img {
  max-width: 90%;
}

section .sectionTitle .sectionCategorys .option:hover,
section .sectionTitle .sectionCategorys .active {
  opacity: 1;
  background-color: rgba(18, 172, 90, 0.4);
}

section .sectionTitle .sectionCategorys .option:nth-child(2) {
  left: -1.3vw;
}

section .sectionTitle .sectionCategorys .option:nth-child(3) {
  left: -1.9vw;
}

section .sectionTitle .sectionCategorys .option:nth-child(4) {
  left: -1.3vw;
}

section .sectionContent {
  display: flex;
  margin-top: 0.3vw;
  flex-direction: column;
}

section .sectionContent .item {
  display: flex;
  align-items: center;
  margin-bottom: 0.3vw;
}

section .sectionContent .item:last-child {
  margin-bottom: 0;
}

section .sectionContent .item .icon {
  width: 4.5vw;
  height: 4.5vw;
  display: flex;
  color: #fff;
  font-size: 2vw;
  border-radius: 100%;
  transition: all .2s;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  border: 0.08vw solid rgba(255, 255, 255, 0.2);
}

section .sectionContent .item .icon img {
  max-width: 80%;
}

section .sectionContent .item:hover .icon {
  background: rgba(18, 172, 90, 0.4);
}

.leftC .sectionContent .item .itemContent {
  margin-left: -0.8vw;
  width: 15vw;
  height: 4.5vw;
  padding: 0.2vw;
  display: flex;
  color: #fff;
  font-size: 0.5vw;
  border-radius: 0.2vw;
  padding-left: 2.66vw;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  background-size: 100% 100%;
  background-image: url(../img/bg.png);
}

.leftC .sectionContent .item .itemContent span,
.leftC .sectionContent .item .itemContent small {
  margin-right: 0.5vw;
  text-align: right;
}

.rightC .sectionContent .item .itemContent {
  width: 15vw;
  height: 4.5vw;
  padding: 0.2vw;
  display: flex;
  color: #fff;
  font-size: 0.5vw;
  margin-left: -0.8vw;
  border-radius: 0.2vw;
  padding-right: 2.66vw;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  background-size: 100% 100%;
  background-image: url(../img/bg1.png);
  transform: scaleX(-1);
}

.rightC .sectionContent .item .itemContent span,
.rightC .sectionContent .item .itemContent small {
  margin-left: 1.3vw;
}

/* .rightC .sectionContent {
  transform: scaleX(-1);
} */

.rightC .sectionTitle {
  text-align: right;
}

.rightC .sectionTitle h1,
.rightC .sectionTitle #subtitle {
  transform: scaleX(-1);
}

section .sectionContent .item .itemContent span {
  font-weight: 600;
}

section .sectionContent .item .itemContent small {
  opacity: .5;
  letter-spacing: 0.067vw;
}

section .sectionContent .item .itemContent small b {
  color: #12ac5a;
}

section .sectionContent .item .itemContent .sliderInput {
  width: 100%;
  display: flex;
  margin-top: 0.7vw;
  align-items: center;
  justify-content: center;
}

section .sectionContent .item .itemContent .sliderInput .arrow {
  width: 1.122vw;
  height: 1.122vw;
  opacity: .5;
  display: flex;
  color: #fff;
  align-items: center;
  border-radius: 100%;
  background: #12ac5a;
  justify-content: center;
  transition: all .2s;
}

section .sectionContent .item .itemContent .sliderInput .arrow:hover {
  opacity: 1;
}

section .sectionContent .item .itemContent .sliderInput .arrow:active {
  opacity: 1;
  transform: scale(1.1);
}

section .sectionContent .item .itemContent .rangeSlider {
  width: 70%;
  height: 100%;
  display: flex;
  margin: 0 0.2vw;
  padding: 0 0.1vw;
  align-items: center;
  border-radius: 0.2vw;
  justify-content: center;
  border: 0.08vw solid rgba(255, 255, 255, 0.2);;
}


.slider {
  margin: auto;
  outline: none;
  padding: 0;
  width: 100%;
  height: 0.8vw;
  border-radius: 0.08vw;
  background-color: transparent;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 0%, color-stop(0%, #12ac5a), color-stop(0%, #12ac5a));
  background-image: -webkit-linear-gradient(#12ac5a, #12ac5a);
  background-image: -moz-linear-gradient(#12ac5a, #12ac5a);
  background-image: -o-linear-gradient(#12ac5a, #12ac5a);
  background-image: linear-gradient(#12ac5a, #12ac5a);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  cursor: pointer;        
  -webkit-appearance: none;
}

.slider::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}

.slider::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

.slider::-moz-focus-outer {
  border: 0;
}

.slider::-webkit-slider-thumb {
  width: 1vw;
  height: 1vw;
  border: 0;
  background: #fff;
  border-radius: 100%;
  -webkit-appearance: none;
  box-shadow: 0 0 0.5vw #000000;
}

.slider::-moz-range-thumb {
  width: 1.2667vw;
  height: 1.2667vw;
  border: 0;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 0.5vw #000000;
}

footer {
  position: absolute;
  left: 50%;
  bottom: 4.667vw;
  display: flex;
  height: 1.333vw;
  color: #fff;
  font-size: 0.566vw;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  transform: translate(-50%,0);
}

footer button {
  opacity: .5;
  width: 10vw;
  padding: 0.5vw;
  color: #fff;
  font-weight: 500;
  margin-top: 0.333vw;
  border-radius: 0.4vw;
  transition: all .3s;
  background: #12ac5a;
  text-transform: uppercase;
}

footer button i {
  margin-right: 0.2vw;
}

footer button:hover {
  opacity: 1;
}

footer button:active {
  transform: scale(1.1);
}