html,body {
	font-size: 13px;
	overflow: hidden;
	font-family: "Roboto";
	background: transparent !important;
}

#notifications {
	top: 50px;
	right: 400px;
	width: 500px;
	position: absolute;
	letter-spacing: .5px;
}

#notifications > div {
	float: left;
	color: #c6c6c6;
	margin-right: 5px;
	line-height: 20px;
	border-radius: 3px;
	margin-bottom: 5px;
	text-shadow: 1px 1px #000;
	padding: 15px 20px 15px 45px;
}

#notifications > div > b {
	color: #fff;
	font-weight: 300;
}

#verde {
	background: rgba(15,15,15,.75) url("images/check.png") no-repeat center left 11px;
}

#vermelho {
	background: rgba(15,15,15,.75) url("images/cancel.png") no-repeat center left 11px;
}

#blood {
	background: rgba(15,15,15,.75) url("images/blood.png") no-repeat center left 11px;
}

#hunger {
	background: rgba(15,15,15,.75) url("images/hunger.png") no-repeat center left 11px;
}

#thirst {
	background: rgba(15,15,15,.75) url("images/thirst.png") no-repeat center left 11px;
}

#azul {
	background: rgba(15,15,15,.75) url("images/ring.png") no-repeat center left 11px;
}

#amarelo {
	background: rgba(15,15,15,.75) url("images/important.png") no-repeat center left 11px;
}

#locked {
	background: rgba(15,15,15,.75) url("images/locked.png") no-repeat center left 11px;
}

#unlocked {
	background: rgba(15,15,15,.75) url("images/unlocked.png") no-repeat center left 11px;
}

#default {
	padding: 15px 20px !important;
	line-height: 20px !important;
	background: rgba(15,15,15,.75);
}