@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,body {
	margin: 0;
	padding: 0;
	color: #fff;
	cursor: default;
	font-size: 0.6vw;
	overflow: hidden;
	font-family: "Roboto";
	box-sizing: border-box;
	background: transparent;
}

:focus { outline: 0; }
u { text-decoration: none; }
::-webkit-scrollbar { width: 0; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: transparent; }
::-webkit-scrollbar-thumb:hover { background: transparent; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#Request {
	width: 25vw;
	bottom: 2vw;
	display: none;
	position: absolute;
	left: calc(50% - 11.2vw);
}

#RequestM {
	color: #ccc;
	float: left;
	width: 21vw;
	padding: 0.8vw;
	font-size: 0.8vw;
	margin-top: 3.333vw;
 	line-height: 1vw;
	margin-bottom: 0.667vw;
	font-family: "Roboto";
	background: rgba(15,15,15,.75);
}

#RequestM b {
	color: #fff;
	font-weight: 300;
}

#RequestY {
	float: left;
	width: 9.5vw;
	color: #d6ffea;
	font-size: 0.6vw;
	position: relative;
	padding: 1vw 0.667vw;
	margin-right: 0.667vw;
	text-align: center;
	letter-spacing: 0.1vw;
	font-family: "Roboto";
	background: rgba(43,135,86,.75);
}

#RequestU {
	float: left;
	width: 9.5vw;
	color: #fedcdc;
	font-size: 0.6vw;
	position: relative;
	padding: 1vw 0.667vw;
	text-align: center;
	letter-spacing: 0.1vw;
	font-family: "Roboto";
	background: rgba(237,105,106,.75);
}

#RequestY::before {
	left: 4.433vw;
	width: 1.5vw;
	color: #ccc;
	content: "Y";
	bottom: -0.7vw;
	font-size: 0.8vw;
	position: absolute;
	border-radius: 100%;
	padding: 0.25vw 0 0.25vw 0.01vw;
	background: rgba(15,15,15,.75);
}

#RequestU::before {
	left: 4.433vw;
	width: 1.5vw;
	color: #ccc;
	content: "U";
	bottom: -0.7vw;
	font-size: 0.8vw;
	position: absolute;
	border-radius: 100%;
	padding: 0.25vw 0 0.25vw 0.01vw;
	background: rgba(15,15,15,.75);
}