@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
	font-family: "Gotham";
	src: url("fonts/GothamMedium.ttf") format("truetype"); 
}

html,body {
	margin: 0;
	padding: 0;
	color: #fff;
	cursor: default;
	font-size: 0.6vw;
	overflow: hidden;
	font-family: "Roboto";
	box-sizing: border-box;
	background: transparent;
}

:focus { outline: 0; }
u { text-decoration: none; }
::-webkit-scrollbar { width: 0; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: transparent; }
::-webkit-scrollbar-thumb:hover { background: transparent; }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#Spawn {
	width: 100vw;
	height: 100vh;
	z-index: 998;
	position: absolute;	
}

.SpawnCreate, .SpawnSelected, .SpawnLocation {
	margin: 2vw;
	width: 16vw;
	display: none;
	letter-spacing: 0.05vw;
}

.SpawnSelectedNew {
	float: left;
	width: 2vw;
	height: 2vw;
	color: #715611;
	font-size: 1.7vw;
	margin-top: 0.5vw;
	text-align: center;
	margin-left: 7vw;
	background: #6ede81;
	border-radius: 100%;
}

.SpawnSelectedNew:first-child {
	margin-top: 0;
}

.SpawnSelectedCharacter {
	float: left;
	color: #999;
	width: 14vw;
	font-size: 0.6vw;
	line-height: 1vw;
	padding: 0.6vw;
	position: relative;
	margin-bottom: 0.5vw;
	background: #141414;
}

.SpawnSelectedCharacter b {
	color: #fff;
	font-weight: 300;
}

.SpawnSelectedCharacter i {
	top: 1.5vw;
	right: 1.5vw;
	color: #6ede81;
	font-size: 2vw;
	font-weight: 700;
	position: absolute;
}

.SpawnMessage {
	right: 3vw;
	color: #999;
	bottom: 3vw;
	width: 20vw;
	padding: 0.6vw;
	display: none;
	font-size: 0.6vw;
	line-height: 1vw;
	position: absolute;
	background: #141414;
}

.SpawnMessage span {
	color: #6ede81;
	display: block;
	font-size: 0.9vw;
	letter-spacing: 0.1vw;
	margin-bottom: 0.7vw;
	font-family: "Gotham";
	text-transform: uppercase;
}

.SpawnMessage b {
	color: #fff;
	font-weight: 100;
	text-transform: none;
}

.SpawnCreate input {
	border: 0;
	float: left;
	color: #fff;
	width: 15.2vw;
	padding: 0.6vw;
	font-size: 0.6vw;
	margin-bottom: 0.5vw;
	letter-spacing: 0.1vw;
	background: #141414;
}

.SpawnCreate input::placeholder {
	color: #999;
}

.SpawnCreateButton {
	border: 0;
	float: left;
	color: #999;
	width: 7.35vw;
	padding: 0.6vw;
	margin-right: 0.5vw;
	margin-bottom: 0.5vw;
	letter-spacing: 0.1vw;
	background: #141414;
}

.SpawnCreateButtonActive {
	color: #333;
	background: #ccc;
}

.MarginRight {
	margin-right: 0;
}

.SpawnCreateSubmit, .SpawnLocationSubmit {
	float: left;
	width: 14vw;
	padding: 0.6vw;
	color: #cbeddb;
	font-size: 0.8vw;
	text-align: center;
	letter-spacing: 0.167vw;
	margin-bottom: 0.5vw;
	background: #2e6e4c;
	text-transform: uppercase;
}

.SpawnCreateCancel {
	float: left;
	width: 14vw;
	color: #f9cfde;
	font-size: 0.8vw;
	padding: 0.6vw;
	text-align: center;
	letter-spacing: 0.167vw;
	background: #7c344d;
	text-transform: uppercase;
}

.SpawnCreateTitle {
	float: left;
	width: 16vw;
	color: #6ede81;
	font-size: 1.5vw;
	letter-spacing: 0.15vw;
	font-family: "Gotham";
	text-transform: uppercase;
	text-shadow: 0.05vw 0.05vw #000;
}

.SpawnCreateSubtitle {
	float: left;
	color: #fff;
	width: 17.2vw;
	font-size: 0.45vw;
	margin-left: 0.167vw;
	margin-bottom: 1vw;
	letter-spacing: 0.16vw;
	text-transform: uppercase;
	text-shadow: 0.05vw 0.05vw #000;
}

.SpawnLocationBox {
	color: #999;
	float: left;
	width: 14vw;
	padding: 0.6vw;
	font-size: 0.6vw;
	text-align: center;
	letter-spacing: 0.1vw;
	margin-bottom: 0.5vw;
	background: #141414;
	text-transform: uppercase;
}

.SpawnLocationBox:hover {
	color: #fff;
	background: #1e1e1e;
}