endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.1;uid=root;password=SUASENHA;database=SUADATABASE;port=3306;charset=utf8mb4"
set mysql_transaction_isolation_level 2
set mysql_slow_query_warning 100

start vrp
start [system]
start [weapons]
start [scripts]
start [addons]
start cfx-summerz

#start nopixel4_props_custom_shared
#start nopixel4_mission_row_police_department
#start nopixel4_sandy_sheriff_and_medical
#start nopixel4_memorial_park
#start nopixel4_legion_square_park
#start nopixel4_casino
#start nopixel4_hospital
#start nopixel4_3dp_impound
#start nopixel4_3dp_cashexchange
#start nopixel4_3dp_clicklovers
#start nopixel4_3dp_laundromat
#start nopixel4_3dp_mosley
#start nopixel4_3dp_pawnshop
#start nopixel4_3dp_paywool
#start nopixel4_3dp_snrbuns
#start nopixel4_courthouse
#start nopixel4_tuna_shop
#start cfx-gabz-prison

sv_scriptHookAllowed 0

#rcon_password

sets tags "rp, roleplay, creative, network, pvp, br, brasil, brazil, otimizado, fps, foguete, lotus, complexo, santa, paris, tokyo, fusion, space, disney, infinity, fluxo, havana, kush, dubai, brazuka, nexus, capital, one, street, north, meta"

sets locale "pt-BR"

load_server_icon server.png

sv_master1 ""

sets banner_detail ""
sets banner_connecting ""

add_ace group.admin command allow
add_ace group.admin command.quit deny
#add_principal identifier.license:0355ebaa78eba65cae607282ba6860a8d99e8660 group.admin

set onesync on
set sv_endpointprivacy true
set onesync_population true
set sv_enforceGameBuild 3095
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_distanceCullVehicles true

setr profile_skfx 0
setr voice_syncData 1
setr cl_customCrosshair false
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

sv_hostname "Creative"
sets sv_projectName "Creative"
sets sv_projectDesc "Desenvolva sua historia, troque seu tiro e divirta-se"

sets Desenvolvedor "summeRz"
sets Grupo "Creative Network"
sets Discord "https://creativenetwork.dev.br/"

sets banner_detail ""
sets banner_connecting ""

sv_maxclients 1

set steam_webApiKey "SUAWEBAPI"

sv_licenseKey SUAKEYFIVEM